@charset "UTF-8";
/*/css/base.min.css*/
.tf_loader{width:1em;height:1em;overflow:hidden;display:inline-block;vertical-align:middle;position:relative}.tf_loader:before{content:'';width:100%;height:100%;position:absolute;top:0;left:0;text-indent:-9999em;border-radius:50%;box-sizing:border-box;border:.15em solid rgba(149,149,149,.2);border-left-color:rgba(149,149,149,.6);animation:tf_loader 1.1s infinite linear}@keyframes tf_loader{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}.tf_clear{clear:both}.tf_left{float:left}.tf_right{float:right}.tf_textl{text-align:left}.tf_textr{text-align:right}.tf_textc{text-align:center}.tf_textj{text-align:justify}.tf_text_dec{text-decoration:none}.tf_hide{display:none}.tf_hidden{visibility:hidden}.tf_block{display:block}.tf_inline_b{display:inline-block}.tf_vmiddle{vertical-align:middle}.tf_mw{max-width:100%}.tf_w{width:100%}.tf_h{height:100%}.tf_overflow{overflow:hidden}.tf_box{box-sizing:border-box}.tf_abs{position:absolute;top:0;left:0;right:0;bottom:0}.tf_rel{position:relative}.tf_opacity{opacity:0}.tf_clearfix:after{content:"";display:table;clear:both}.loops-wrapper>.post,.woocommerce ul.loops-wrapper.products>li.product{float:left;box-sizing:border-box;margin-left:3.2%;margin-right:0;margin-bottom:3.2%;clear:none}.woocommerce .loops-wrapper.no-gutter.products>.product,body .loops-wrapper.no-gutter>.post{margin:0}.woocommerce .loops-wrapper.products.list-post>.product{margin-left:0}.tf_scrollbar{scroll-behavior:smooth;--tf_scroll_color:rgba(137, 137, 137, .2);--tf_scroll_color_hover:rgba(137, 137, 137, .4);--tf_scroll_w:10px;--tf_scroll_h:10px;scrollbar-color:var(--tf_scroll_color) transparent;scrollbar-width:thin}.tf_scrollbar::-webkit-scrollbar{width:var(--tf_scroll_w);height:var(--tf_scroll_h)}.tf_scrollbar::-webkit-scrollbar-thumb{background-color:var(--tf_scroll_color);background-clip:padding-box;border:2px solid transparent;border-radius:5px}.tf_scrollbar:hover{scrollbar-color:var(--tf_scroll_color_hover) transparent}.tf_scrollbar:hover::-webkit-scrollbar-thumb{background-color:var(--tf_scroll_color_hover)}.tf_close{position:relative;transition:transform .3s linear;cursor:pointer}.tf_close:after,.tf_close:before{content:'';height:100%;width:1px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%) rotate(45deg);background-color:currentColor;transition:transform .25s}.tf_close:after{transform:translate(-50%,-50%) rotate(-45deg)}.tf_close:hover:after{transform:translate(-50%,-50%) rotate(45deg)}.tf_close:hover:before{transform:translate(-50%,-50%) rotate(135deg)}

/*/wp-content/plugins/themify-builder-pro/public/css/tbp-style.css*/
/* Builder Grid */
.tbp_template .tb_sticky_wrapper>.module_row>.row_inner,
.tbp_template>.themify_builder>.module_row>.row_inner{
	width:1160px;
	max-width:100%;
	margin:0 auto
}
.tbp_advanchd_archive_wrap .module_row>.row_inner,
.tbp_template .tb_sticky_wrapper>.module_row.fullwidth>.row_inner,
.tbp_template>.themify_builder>.module_row.fullwidth>.row_inner{
    width:100%;
    max-width:100%
}
.tbp_template .module_subrow{
    width:auto
}
.tbp_template .module_subrow.active_module{
    width:inherit
}
.tbp_template .module_subrow.active_module:hover{
    z-index:121!important
}
.tbp_template .tbp_advanchd_archive_wrap .module_subrow.active_module:hover{
	z-index:auto!important
}
/* Site Logo */
.module-site-logo{
	line-height:1;
	word-break:keep-all
}

/* Post read-more button inline */
.read-more{
	display:inline-block
}
/* Post meta divider */
.tbp_post_meta>span:after{
    display:inline-block;
    content:'';
    width:1px;
    height:1.3em;
    margin:0 .1em 0 .2em;
    white-space:nowrap;
    vertical-align:middle;
    border-left:1px solid rgba(180,180,180,.25);
    transform:skewX(-15deg)
}
.tbp_post_meta>span:last-child:after{
	display:none
}
/* Author Info */
.tbp_author_info_img{
	float:left;
	margin:0 15px 15px 0
}
.tbp_author_stack .tbp_author_info_img{
	float:none;
	margin:0 0 1em
}
/* Post */
.tbp_template .builder-posts-wrap.loops-wrapper .post{
	margin-top:0
}
.tbp_post_meta .tbp_post_meta_item time{
	display:inline-block
}
/* Responsive */
@media screen and (max-width:1260px){
	.tbp_template .tb_sticky_wrapper>.module_row>.row_inner,
	.tbp_template>.themify_builder>.module_row>.row_inner{
		max-width:96%
	}
	.tbp_template .tb_sticky_wrapper>.module_row.fullwidth>.row_inner,
	.tbp_template>.themify_builder>.module_row.fullwidth>.row_inner{
		max-width:100%
	}
}
@media screen and (max-width:760px){
    .tbp_template .tb_sticky_wrapper>.module_row>.row_inner,
    .tbp_template>.themify_builder>.module_row>.row_inner{
            max-width:90%
    }
}
#wpadminbar .tb_disabled_turn_on.toggle_tb_builder a .tb_tooltip{
    display:none
}
.tb_disabled_turn_on.toggle_tb_builder{
    opacity:1
}
.tb_disabled_turn_on.toggle_tb_builder a{
    cursor:pointer
}
/*/wp-content/plugins/themify-builder/css/modules/parallax.css*/
.themify_builder .builder-parallax-scrolling{
    background-attachment:fixed!important;
    background-repeat:no-repeat!important;
    background-position:center; /* don't add !important here so user can change position with builder styling */
	transition:background-position 0s!important
}
@media (hover:hover){
	.themify_builder .builder-parallax-scrolling{
		background-size:cover
	}
}
@media(hover:none){
	/* for touch devices */
	.themify_builder .builder-parallax-scrolling{
		background-attachment:scroll!important
	}
}